<!-- Create your form here -->
<h1>Student Form</h1>
<form action="/students" method="POST">
    <label>first_name</label>
    <input type="text" name="first_name">
    <label>last_name</label>
    <input type="text" name="last_name">
    <input type="submit" value="Submit Student">
</form>