<!-- Create your form here -->
<form method="POST" action='/students/new'>
<label for "first_name">Student Form</label><br>
<input type="text" name="first_name"><br>
<label for "last_name">Enter your last name"</label><br>
<input type="text" name="last_name"><br>
<input type="submit" value="Submit Student">
</form>